$body-bg: #f1f6ff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #000a44;
$indigo: #02126e;
$purple: #3d0099;
$pink: #ff0077;
$red: #ff0800;
$orange: #8d4700;
$yellow: #726700;
$green: #033116;
$teal: #00ffe5;
$cyan: #144c7b;