$body-bg: #f1f6ff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #000a44;
$indigo: #02126e;
$purple: #5000c9;
$pink: #ee006f;
$red: #ff0800;
$orange: #ff8000;
$yellow: #ffe600;
$green: #00ff6a;
$teal: #00ffe5;
$cyan: #8fcbfc;