.axon-border-blue {
    border-left: 0.5em solid $blue;
    border-right: 0.5em solid $blue;
}

.axon-border-indigo {
    border-left: 0.5em solid $indigo;
    border-right: 0.5em solid $indigo;
}

.axon-border-purple {
    border-left: 0.5em solid $purple;
    border-right: 0.5em solid $purple;
}

.axon-border-pink {
    border-left: 0.5em solid $pink;
    border-right: 0.5em solid $pink;
}

.axon-border-red {
    border-left: 0.5em solid $red;
    border-right: 0.5em solid $red;
}

.axon-border-orange {
    border-left: 0.5em solid $orange;
    border-right: 0.5em solid $orange;
}

.axon-border-yellow {
    border-left: 0.5em solid $yellow;
    border-right: 0.5em solid $yellow;
}

.axon-border-green {
    border-left: 0.5em solid $green;
    border-right: 0.5em solid $green;
}

.axon-border-teal {
    border-left: 0.5em solid $teal;
    border-right: 0.5em solid $teal;
}

.axon-border-cyan {
    border-left: 0.5em solid $cyan;
    border-right: 0.5em solid $cyan;
}